{
  "header": {"functionRequesterIdentifier": {{ json .Tenant }}, "functionCallIdentifier": {{ json .TaskID }}},
  "eid": {{ json .Params.eid }},
  "iccid": {{ json (need "download.iccid" (index (index .Results "download") "iccid")) }},
  "finalProfileStatusIndicator": "Available"
}
